@import "colors/colors"; 
@import "mixins/mixins";
@import "variables/variables";
body{
    background-color: $colorModra;
}
div.hlavniNavbar{
    background-color: $colorSediva;
    border-style: ridge;
    border-color: black; 
    border-width: .25em;
    margin-bottom: 5em;  
}
ul{
    @include seznam;
}
a{
    @include odkazy;
}
div.navDataLi{
    @include navDataLI;
}
div.kartaProdukty{
    @include kartyProdukty;
}
div.kartaSlevy{
    @include kartySlevy;
}
div.seznamKaret{
    @include seznamKaret;
}

div.navAkce{
    background-color: $colorFialova;
    border-style: ridge;
    border-color: black; 
    border-width: .25em;
}

div.formular{
    background-color: $colorFialova;
    border-style: ridge;
    border-color: black; 
    border-width: .25em;
    max-width: 30em;
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
input{
    padding: .25em;
    border-radius: .35em;
    border-color: black;
    border: .25em;
    border-style:solid;
}
select{
    padding: .25em;
    border-radius: .35em;
    border-color: black;
    border: .25em;
    border-style:solid;
}
.nadpis{
    font-family: Arial, Helvetica, sans-serif;
    font-size: larger;
}
.file{
    border: 0px;
}
.tlacitkoFormulare{
    @include tlacitkoFormulare;
}
@media (max-width: 1381px){
    div.ramecek{
        margin-left: 5em;
    }
}

@media (max-width: 990px){
    div.ramecek{
        margin-left: 3em;
    }
}
@media (max-width: 600px){
    div.ramecek{
        margin-left: 2.75em;
    }
}
@media (max-width: 550px){
    div.ramecek{
        margin-left: 2em;
    }
}
@media (max-width: 478px){
    div.ramecek{
        margin-left: 1em;
    }
}
@media (max-width: 460px){
    div.ramecek{
        margin-left: 5.5em;
    }
}
@media (max-width: 440px){
    div.radka{
        justify-content: center;
    }
    div.ramecek{
        margin-left: 0em;
    }
}
