$color1: #EEB4B3;
$color2: #C179B9;
$color3: #A42CD6;
$color4: #502274;
$color5: #2F242C;

$color6: #F3E0EC;
$color7: #EAD5E6;
$color8: #F2BEFC;
$color9: #CA9CE1;
$color10: #685F74;

$color11: #4BC6B9;
$color12: #73C1C6;
$color13: #96C3CE;
$color14: #A79AB2;
$color15: #B57BA6;

$color16: #191308;
$color17: #322A26;
$color18: #454B66;
$color19: #677DB7;
$color20: #9CA3DB;

$color21: #FF9FB2;
$color22: #FBDCE2;
$color23: #0ACDFF;
$color24: #60AB9A;
$color25: #DEDEE0;

$color26: #F46036;
$color27: #5B85AA;
$color28: #414770;
$color29: #372248;
$color30: #171123;

$color31: #963484;
$color32: #3066BE;
$color33: #60AFFF;
$color34: #28C2FF;
$color35: #2AF5FF;

$color36: #9DD9D2;
$color37: #79BCB8;
$color38: #5EC2B7;
$color39: #2CA6A4;
$color40: #3AA7A3;

$color41: #0C0F0A;
$color42: #FF206E;
$color43: #FBFF12;
$color44: #41EAD4;
$color45: #FFFFFF;

$color46: #32CBFF;
$color47: #00A5E0;
$color48: #89A1EF;
$color49: #EF9CDA;
$color50: #FECEF1;

$color51: #FFA400;
$color52: #009FFD;
$color53: #2A2A72;
$color54: #232528;
$color55: #EAF6FF;
