{% extends "slevy.html.twig" %}
{% block body %}
    <div class="container">
        <div class="container formular">
        {% block tlacitkoZpet %}
            <a href="zamestnanci">Zpět</a>
        {% endblock %}
            <div class="container text-center">
                <p class="nadpis">
                    {% block nadpisForm %}
                    Nový zaměstnanec
                    {% endblock %}
                </p>
            </div>
            <form class="form">
                {% block contentForm %}
                    <div class="container text-center">
                        <input type="text" placeholder="Jméno" class="m-1"><br>
                        <input type="text" placeholder="Příjmení" class="m-1"><br>
                        <input type="text" placeholder="Pozice" class="m-1"><br>
                        <input type="tel" placeholder="Telefon" class="m-1"><br>
                        <button class="px-2 m-2 tlacitkoFormulare" type="submit" value="white" name="submit">Přidat nového Zaměstnance</button>
                    </div>
                {% endblock %}
            </form>
        </div>
    </div>    

{% endblock %}