{% extends "slevy.html.twig" %}
{% block body %}
    <div class="container navAkce">
        <nav class="navbar justify-content-end">
            <form class="px-4 ">
                <a href="novyProdukt">Nový produkt</a>
            </form>
        </nav>
        <nav class="navbar justify-content-end">
            <form class="px-4">
                <a href="upravitProdukt">Upravit produkt</a>
            </form>
        </nav>
        <nav class="navbar justify-content-end">
            <form class="px-4">
                <a href="smazatProdukt">Smazat produkt</a>
            </form>
        </nav>
    </div>
    
    <div class="container card-group seznamKaret">
        <div class="ramecek">
            <div class="row mx-4 p-1 align-item-center radka">
            {% for i in Data %}
                <div class="card p-1 m-2 kartaProdukty">
                    <img src="{{ asset(i.Obrazek) }}" class="card-img-top p-2">
                    <div class="card-body">
                        <h5 class="card-title">{{ i.Nazev }}</h5>
                        <p class="card-text">{{ i.Text }}</p>
                        <p class="card-text">{{ i.Cena }}</p>
                    </div>
                </div>
            {% endfor %}
            </div>
        </div>
        
    </div>
{% endblock %} 